* {
    margin: 5px;
    font-family: Verdana, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    font-style: italic;
    color: rgb(14, 10, 255);
    font-weight: lighter;
}

nav {
    text-align: center;
}

ul li {
    text-align: justify;
    display: inline;
    justify-content: center;
    font-weight: 900;
    font-size: 20px;
}

ul li:visited {
    color: rgb(14, 10, 255);
}

ul li:hover {
    font-size: 22px;
    transition: 1000ms;
    color: rgb(61, 176, 243);
}

.footer-content{
    display: inline-flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}

.social-media, .privacy {
    width: 48vw;
}

.social-media img {
    width: 40px;
    /* height: 40px; */
}

footer {
    margin: -5px;
    padding: 0;
    background-color: grey;
    border-radius: 10px;
}

footer p {
    margin: 0px;
    font-style: italic;
    text-align: center;
    color: #fff;
    background: #000;
    border-radius: 0px 0px 10px 10px;
}