* {
    margin: 0px;
    padding: 0px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

header {
    margin: 0px;
}

header img {
    position: absolute;
    top: 5px;
    left: 10px;
    right: 95vw;
    width: 50px;
    height: 50px;
}

.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background-color: brown;
    color: white;
    height: 60px;
}

nav {
    padding: 15px;
    word-spacing: 20px;
    align-self: flex-end;
}

nav a, nav a:visited {
    text-align: center;
    color: gainsboro;
    font-size: 20px;
    font-weight: lighter;
    font-family: 'Comic Sans MS', sans-serif;
    text-decoration-line: none;

}

nav a:hover {
    transition-duration: 300ms;
    border-bottom: 3px solid black;
    font-weight: 900;
}

main h1 {
    text-align: center;
    padding: 20px;
    font-size: 40px;
    font-style: italic;
    color: rgb(56, 56, 56);
}

main hr {
    color: gray;
    height: 5px;
    position: relative;
    left: 45vw;
    width: 120px;
    background-color: grey;
}
main {
    align-items: center;
}

footer {
    display: grid;
    grid-auto-flow: row nowrap;
    grid-template-columns: 100px;
    grid-template-rows: 150px;

}

.footer-content {
    background-color: rgb(37, 36, 36);
}

.social-media {
    background-color: grey;
}

.social-media a {
    background-color: black;
}