* {
    margin: 0px;
    padding: 0px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

header {
    margin: 0px;
}

header img {
    position: absolute;
    top: 5px;
    left: 10px;
    right: 95vw;
    width: 50px;
    height: 50px;
}

.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background-color: brown;
    color: white;
    height: 60px;
}

nav {
    padding: 15px;
    word-spacing: 20px;
    align-self: flex-end;
}

nav a, nav a:visited {
    text-align: center;
    color: gainsboro;
    font-size: 20px;
    font-weight: lighter;
    font-family: 'Comic Sans MS', sans-serif;
    text-decoration-line: none;

}

nav a:hover {
    transition-duration: 300ms;
    padding-top: 0;
    border-bottom: 3px solid black;
    padding: 3px;
    font-weight: bolder;
}

main h1 {
    text-align: center;
    padding: 20px;
    font-size: 40px;
}

main hr {
    color: gray;
    height: 5px;
    position: relative;
    left: 50vw;
    width: 90px;
    background-color: black;
}
main {
    align-items: center;
}